.product-card {
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
}

.product-image-container {
    position: relative;
}

.carousel .carousel-status {
    display: none;
}

.carousel .control-dots {
    bottom: -30px;
}

.carousel .thumbs-wrapper {
    margin-top: 10px;
}

.carousel .thumb {
    border: 2px solid #ddd;
    padding: 5px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 2px solid #333;
}

.carousel-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    height: 500px;
    /* Altezza fissa per il carosello */
}

.product-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* Ridimensiona l'immagine mantenendo il rapporto di aspetto */
    /* Rende l'immagine responsiva */
    width: auto;
    height: auto;
    padding: 10px;
}

/* Frecce di navigazione */
.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    /* Aumenta la dimensione per centrare meglio */
    height: 40px;
    /* Aumenta la dimensione per centrare meglio */
    display: flex;
    /* Usa flexbox per centrare il contenuto */
    align-items: center;
    /* Allinea verticalmente */
    justify-content: center;
    /* Allinea orizzontalmente */
    margin: auto 0;
    /* Centra verticalmente */
    /* top: 50%; */
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
    color: white;
    font-size: 20px;
}

/* Media Queries per la reattività */
@media (max-width: 1200px) {
    .carousel-image-wrapper {
        height: 400px;
        /* Altezza per schermi di dimensioni medie */
    }
}

@media (max-width: 768px) {
    .product-card {
        max-width: 95%;
    }

    .carousel-image-wrapper {
        height: 300px;
        /* Altezza per schermi di dimensioni piccole */
    }

    .carousel .thumbs-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .product-card {
        max-width: 100%;
        padding: 10px;
    }

    .carousel-image-wrapper {
        height: 200px;
        /* Altezza per schermi molto piccoli */
    }

    .carousel .control-prev.control-arrow,
    .carousel .control-next.control-arrow {
        width: 25px;
        height: 25px;
    }

    .carousel .control-prev.control-arrow:before,
    .carousel .control-next.control-arrow:before {
        font-size: 16px;
    }
}